
.flex-grid {
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    margin: 0 auto;
}

.col {
    box-sizing: border-box;
    height: 300px;
    flex-basis: 25%;
    border: 1px solid black;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 140px;
    width: 140px;
    object-fit: cover;
    border: 1px solid black;
}

p{
    margin: 2px;
    height: 10px;
    font-size: 0.7em;
    font-family: "Tahoma";
    align-self: center;
    padding: 3px;
}

.title_p{

    font-size: 0.75em;
    margin-bottom: 25px;
    font-weight: bold;
}


.wrapper {
    text-align: center;
}

.page{
    display: flex;
}


.details{
    position: fixed;
    float: right;
    top: 6em;
    right: 10em;
    width: 300px;
}

.white {
    background-color: white;
}
.red {
    background-color: gray;
}

@media (max-width: 640px) {
    .flex-grid{
        width: 300px;
    }
    .col {
        flex-basis: 100%;
    }
    img{
        flex-basis: 100%;
    }
    .details{
        top: 6em;
        right: 2em;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .flex-grid{
        width: 500px;
    }
    .col {
        flex-basis: 50%;
    }
    img{
        flex-basis: 50%;
    }

    .details{
        top: 6em;
        right: 3em;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .flex-grid{
        width: 800px;
    }
    .col {
        flex-basis: 50%;
    }
    img{
        flex-basis: 50%;
    }

    .details{
        top: 6em;
        right: 4em;
    }

    .col {
        height: 300px;
        width: 200px;
    }

}




