
.flex-grid {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    margin: 0 auto;
}

.col {
    box-sizing: border-box;
    height: 300px;
    flex-basis: 25%;
    width: 250px;
    border: 1px solid black;
    background-color: lightgrey;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid black;
}

p{
    margin: 2px;
    height: 10px;
    font-size: 0.7em;
    font-family: "Tahoma";
    align-self: center;
    padding: 3px;
}

.titleP{

    font-size: 0.75em;
    margin-bottom: 25px;
    font-weight: bold;
}

.flex-grid>div {
}

@media (max-width: 640px) {
    .flex-grid{
        width: 200px;
    }
    .col {
        flex-basis: 100%;
    }
    img{
        flex-basis: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {

    .flex-grid{
        width: 400px;
    }
    .col {
        flex-basis: 50%;
    }
    img{
        flex-basis: 50%;
    }
}

.wrapper {
    text-align: center;
}

