@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-L.ttf");
}

html, body {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f3f1f2;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

html{
    height: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.banner {
    background: url("../assets/bg15.jpg");
    background-color: gray;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 410px;
    text-align: center;
    margin-top: -50px;
}

.search_wrapper {
    text-align: center;
}

.heading_msg {
    color: #ffffff;
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: -70px;
}


.body_msg_wrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 180px;

}
.body_msg {
    margin: 0;
    color: #000000;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: -70px;
    color: #2C3E50;
}

* {
    box-sizing: border-box;
}

.dropdown-buttons {
    margin: auto;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 100px;
}

.dropdown-button {
    color: #eee;
    width: 250px;
    margin-right: 50px;
}

.dropdown-input {
    width: 250px;
 }

.button_wrapper {
    margin: auto;
}

.dropdown-button option {
    background: #F2F3F5;
    color: #566375;
    font-weight: normal;
    white-space: pre;
    min-height: 1.2em;
}

.dropdown-button select {
    outline: none;
    color: #fff;
    font-size: 1.1em;
    border: 1px solid #635656;
    padding: 14px 0px 14px 25px;
    border-radius: 50px;
    background: none;
    width: 100%;
}

.dropdown-button select::-ms-expand {
    display: none;
}

.dropdown-button select > option{
    background-color: #F2F3F5;
    padding: 12px;
    text-indent: 15px;
    -moz-appearance: none !important;
    border: none !important;
}


.search_btn {
    width: 300px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    background: #1ABC9C;
    color: #fff;
    font-size: 1.1em;
    text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -webkit-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -moz-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -o-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    color: #fff;
    box-shadow: 0 3px #16A085;
    margin-top: 20px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;

    /*loading animation*/

}

.search_btn:hover {
    background-color:#16A085;
}


.search_input {
    outline: none;
    color: #ffffff;
    font-size: 1.1em;
    border: 1px solid #635656;
    padding: 14px 0px 14px 25px;
    border-radius: 50px;
    background: none;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.container {
    text-align: center;
}

.page {
    text-align: center;
}

.flex-grid {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0px auto;
}

.col {
    padding-top: 10px;
    margin: 0.5%;
    box-sizing: border-box;
    height: 300px;
    flex-basis: 24%;
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: transparent;
}

.col:hover {
    opacity: 0.6;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

img {
    /*background-color: #F2F0F0;*/
    background: url("../assets/col-bg.png");
    margin-bottom: 10px;
    height: 140px;
    width: 300px;
    object-fit: cover;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);

}

.text_p {
    font-size: 0.9em;
    align-self: center;
    padding-top: 5px;
    margin: 10px;
    color: #788291;
}

.title_p {
    margin: 5px;
    height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    color: #566375;
}

.details {
    position: fixed;
    float: right;
    top: 6em;
    right: 10em;
    width: 300px;
}

.white {
    background-color: white;
}

.red {
    background-color: #E0E0E0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 35%;
    color: #566375;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


.read_more_btn {
    border: none;
    background-color: #1ABC9C;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    margin-left: 38%;
    margin-top: 3%;
    padding: 10px 20px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    }

.read_more_btn:hover {
    background-color:#16A085;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #34495e;
    color: white;
    font-size: 20px;
}

.modal-body {
    padding: 2px 16px;
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
    margin-top:3%;
    margin-bottom: 5%;
}

.modal-footer {
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 5px 16px;
    background-color: #34495e;
    color: white;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #34495e;
    color: white;
    text-align: left;
    padding-left: 50px;
    height: 100px;
    padding-top: 1px;
}

@media (max-width: 640px) {
    .flex-grid {
        width: 200%;
    }

    .col {
        flex-basis: 100%;
    }

    img {
        width: 80%;
    }
    .title_p {
        margin: 5px 30px 20px;
        height: 30px;
        font-size: 1.2em;
    }

    .text_p {
        font-size: 1.1em;
        margin: 6px;
    }

    .details {
        top: 6em;
        right: 2em;
    }

    .banner {
        width: 200%;
    }
    .modal-content {
        width: 65%;
    }
    .modal {
        padding-top: 150%; /* Location of the box */
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .flex-grid {
        width: 100%;
        display: flex;
        padding-left: 75px;
        padding-right: 50px;
        margin: 3%;
    }

    .col {
        flex-basis: 48%;
        margin: 1%;
    }

    img {
        margin: 0px 0px -5px;
    }

    .details {
        top: 6em;
        right: 3em;
    }

    .title_p {
        margin: 5px 20px 40px;
        height: 30px;
        font-size: 1.2em;
        margin-left: 2px;
    }

    .text_p {
        font-size: 1em;
        align-self: center;
        margin: 6px;
    }

    .modal-content {
        width: 45%;
    }

    .modal {
        padding-top: 50%; /* Location of the box */
    }

    .banner{
        width: 110%;
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {
    .flex-grid {
        width: 100%;
        display: flex;
        padding: 0%;
    }

    .col {
        flex-basis: 23%;
        margin: 1%;
    }

    img {
        flex-basis: 100%;
    }

    .details {
        top: 6em;
        right: 4em;
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {
    .flex-grid {
        width: 100%;
        display: flex;
        padding: 2%;
    }

    .col {
        flex-basis: 23%;
        margin: 1%;
    }

    img {
        width: 100%;
    }

    .details {
        top: 6em;
        right: 4em;
    }

}




